<%- include('../partials/header') %>

<div class="header">
    <h1><%- title %></h1>
</div>

<div id="campTiles">
    <% if (campaigns.length) { %>
        <% campaigns.forEach(function(c) { %>
            
            <div class="campaign">
                <h3><a href="/campaigns/<%= c._id %>"><%= c.name %></a></h3>
                <p class="system" 
                    <% if (c.system === "D&D 5e") { %> style="background-color:Red" <% } %>
                    <% if (c.system === "Pathfinder") { %> style="background-color:Blue" <% } %>
                    <% if (c.system === "Pathfinder 2e") { %> style="background-color:LightBlue" <% } %>
                    <% if (c.system === "Starfinder") { %> style="background-color:Smoke" <% } %>
                    <% if (c.system === "Mage: The Ascension") { %> style="background-color:Purple" <% } %>
                    <% if (c.system === "Vampire: The Masquerade") { %> style="background-color:DarkRed" <% } %> >
                    <%= c.system %>
                </p>
                <h4>
                    Next Game: <br>
                    <%= c.nextGame %>
                </h4>
                <h4>Players</h4>
                <div>
                <% if (campaigns.players > 0) { %>
                    <% campaigns.players.forEach(function(p) { %>
                        <img alt="avatar" src="<%= p.avatar %>" referrerpolicy="no-referrer">
                    <% }) %>
                <% } %>
                </div>
                <div id="delete-icons">
                    <span id="archive-camp-symb" class="material-symbols-outlined">
                        archive
                    </span>
                    <form id="trash-form" action="/campaigns/<%= c._id %>?_method=DELETE" method="POST">
                        <button id="trash" type="submit"><span id="delete-camp-symb" class="material-symbols-outlined">
                        delete
                        </span></button>
                    </form>
                </div>
            </div>
            
        <% }) %>
    <% } %>
    <div class="addTile">
        <a href="/campaigns/new">
            <span id="add-camp-symb" class="material-symbols-outlined">
            add_circle
            </span>
        </a>
    </div>
</div>

<%- include('../partials/footer') %>