<%- include('../partials/header') %>

<div class="header">
    <h1><%- title %></h1>
</div>

<div id="campTiles">
    <% if (campaigns.length) { %>
        <% campaigns.forEach(function(c) { %>
            
            <div class="campaign">
                <h3><a href="/campaigns/<%= c._id %>"><%= c.name %></a></h3>
                <p class="system"><%= c.system %></p>
                <h4>
                    Next Game: <br>
                    <%= c.nextGame %>
                </h4>
                <h4>Players</h4>
                <div>
                <% if (campaigns.players > 0) { %>
                    <% campaigns.players.forEach(function(p) { %>
                        <img alt="avatar" src="<%= p.avatar %>" referrerpolicy="no-referrer">
                    <% }) %>
                <% } %>
                </div>
                <% if (campaigns.cover) { %>
                    <img src="data:image/<%=campaigns.cover.contentType%>;base64,
                        <%=campaigns.cover.data.toString('base64')%>" >
                <% } %>
            </div>
            
        <% }) %>
    <% } %>
    <div class="addTile">
        <a href="/campaigns/new">
            <span class="material-symbols-outlined">
            add_circle
            </span>
        </a>
    </div>
</div>

<%- include('../partials/footer') %>