<%- include('../partials/header') %>

<h3 class="genTitle"><%= title %></h3>

<div id="notesMain">

    <div id="notesSection">
        <h1><%= campaign.name %></h1>
        <a type="button" href="/campaigns/<%= campaign._id %>/notes/new">Add Note</a>

        <% if (notes) { %>
            <% notes.forEach(function(n) { %>
                <% console.log(`note: ${n}`) %>

                <h3><%= n.title %></h3>
                <p><%= n.content %></p>

            <% }) %>
        <% } %>

    </div>

    <div id="playersSection">
        <h3>Player Characters</h3>
    </div>

</div>


    
<%- include('../partials/footer') %>