<%- include('../partials/header') %>

<h3 class="genTitle"><%= title %></h3>

<div id="notesMain">

    <div id="notesSection">
        <h1><%= campaign.name %></h1>
        <form action="/campaigns/<%= campaign._id %>/notes" method="POST">
            <label for="name">Note Name:</label>
            <input type="text" name="name">
            <label for="content">Note:</label>
            <input type="text" name="content">
            <button type="submit">Add Note</button>
        </form>

        <% if (campaign.notes) { %>
            <% campaign.notes.forEach(function(n) { %>
                <% console.log(`note: ${n}`) %>

                <h3><%= n.name %></h3>
                <p><%= n.content %></p>

            <% }) %>
        <% } %>

    </div>

    <div id="playersSection">
        <h3>Player Characters</h3>
    </div>

</div>


    
<%- include('../partials/footer') %>